*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
    
}
.banner {
    position: relative;
    min-height: 100vh;
    background-image: url(images/alex_banner.jpg);
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.2em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5e m;
    color: #fff;
    font-weight: 500;
}

.btn{
    position: relative;
    background: rgb(244,198, 137);
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0,0.1);
}
header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111;
}
header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a{
color: #111;
}

.about{
    background: rgb(214,214,214);
}
.about img{
    border: 3px solid rgb(244,198, 137);

}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
    text-decoration: none;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentBox{
    padding: 30px;
}
.contentBox h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50{
    min-width: 30%;
}
img{
    max-width: 100%;
}

.family{
    background: rgb(244,198, 137);
}

.familyBox img{
    border: 3px  solid white;
}
.services{
    background: rgb(244,198, 137);
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBox{
    padding: 40px 20px;
    background: #222;
    color: white;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesBox:hover{
    background: rgb(214,214,214);
    color: #091e2f;
}
.services .content .servicesBox img{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBox h2{
    font-size: 20px;
    font-weight: 60px;
}
.servicesBox p{
    padding-left: 20px;
}
.work{
    background: rgb(214,214,214);
}
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBox{
    width: 50%;
    padding: 20px;
}

.work .content .workBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials{
    background: rgb(214,214,214);
}
.testimonials .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonials .content .testimonialsBox{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: rgb(244,198, 137);
}

.testimonials .content .testimonialsBox p{
    color: white;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonials .content .testimonialsBox h3{
    margin-top: 40px;
    text-align: end;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.contact{
    background: rgb(244,198, 137);
}
.formBox{
    min-width: 60%;
}
.formBox form{
    display: flex;
    flex-direction: column;
}

.formBox form h3,
.contactInfo h3{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBox form input,
.formBox form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: rgb(214,214,214);
    color: white;
    resize: none;
}
.formBox form textarea{
    min-height: 200px;
}
.formBox form input::placeholder,
.formBox form textarea::placeholder{
    color: #999;
}
.formBox form input[type="submit"]{
    max-width: 100px;
    background: #091e2f;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo{
    min-width: 40%;
}
.contactInfoBox{
    position: relative;
}
.contactInfoBox .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBox .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.contactInfoBox .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBox .box .text h3{
    font-weight: 500;
    color: #091e2f;
    margin-bottom: 0;
}

.copyright{
    background: #000;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media (max-width: 991px){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-size: 24px;
        margin: 10px;

    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        width: 40px;
        height: 40px;
        background: url(images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;

    }
    header .toggle{
        filter: invert(1)
    }
    header.sticky .toggle{
        filter: invert(0)
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .btn{
        margin: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2{
        font-weight: 600;
        font-size: 24px;
    }
    .contentBox h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .services .content .servicesBox{
        margin: 10px;
    }
    .work .content .workBox {
        width: 100%;
        padding: 10px;
    }
    .testimonials .content .testimonialsBox {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: rgb(244,198, 137);
    }
        .testimonials .content .testimonialsBox h3 {
            margin-top: 20px;
    }
    .contactInfo {
        margin: 20px 0;
    }
}

@media (max-width:600px){
    header,
    header.sticky{
        padding: 20px 20px;
        z-index: 1000;
    }
    .banner{
        padding: 150px 20px 100px;
    }
    section{
        padding: 100px 20px;
    }
}